@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('/Robotothin.woff2') format('woff2'), url('/Robotothin.woff') format('woff'), url('/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/Robotomedium.woff2') format('woff2'), url('/Robotomedium.woff') format('woff'), url('/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/Robotobold.woff2') format('woff2'), url('/Robotobold.woff') format('woff'), url('/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
:root {
    --max-width-container: 1441px;
    --main-bg-color: rgb(240, 240, 240);
  }

body {
    font-family: 'Roboto Medium', 'Roboto Thin', 'Roboto Bold', sans-serif;
    background-color:var(--main-bg-color);
    max-width:var(--max-width-container);
    margin: 0 auto;
}


a:active {
    color: blue;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}